.blog-container > header {
	margin-left: 4rem;
}
@media screen and (min-width: 64em) {
	.blog-container > header {
		margin-left: 10rem;
	}
}



.blog > .blog-top {
	position: sticky;
	overflow: visible;
	top: 0px;
}
.blog > .blog-bottom {
// 	position: sticky;
	bottom: 0px;
}
.blog-contact {
	z-index: 3;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
.content {
	padding: 1rem;
	background-color: rgba($third-color, 0.7);
	color: $third-color-n;
	border: 2px solid rgba($second-color, 1);
}

.blog-header {
	margin-left: auto;
	margin-right: auto;
	color: white;
}
.blog-header > div {
	padding: 1rem;
}

.blog-footer {
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: rgba($third-color, 0.7);
}
.blog-footer > div {
	padding: 1rem;
}


.blog-top {
	border-top: 3px solid rgba($second-color, 0.7);
	border-bottom: 3px solid rgba($second-color, 0.7);
}
.blog-bottom {
	border-top: 3px solid rgba($second-color, 0.7);
	border-bottom: 3px solid rgba($second-color, 0.7);
}

.blog .menu {
	margin: 0px;
	padding: 0px;
	overflow: auto;
	background-color: rgba($main-color, 0.3);
}
.blog .menu ul > li {
}

.blog .menu a {
	border: 2px solid rgba($second-color, 0.7);
	border-top: none;
	border-bottom: none;
	background-color: $main-color;
	padding: 0.7rem 1rem;
	font-size: .9em;
	color: white;
	cursor: pointer;
	&:hover {
		border: 2px solid rgba($second-color, 1);
		border-top: none;
		border-bottom: none;
	}
}
.blog .menu a.extra {
	background-color: #444;
}
.blog .menu a:hover {
	background-color: $third-color;
}



.blog .menu a.router-link-active {
	background-color: $second-color;
}